<!DOCTYPE html>
<html>
  <head>
    <title>VMware CMBU Session</title>
    <style>
      body {
        color: #666;
        text-align: center;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        margin: 0;
        width: 800px;
        margin: auto;
        font-size: 14px;
      }

      h1 {
        font-size: 56px;
        line-height: 100px;
        font-weight: normal;
        color: #456;
      }

      h2 {
        font-size: 24px;
        color: #666;
        line-height: 1.5em;
      }

      h3 {
        color: #456;
        font-size: 20px;
        font-weight: normal;
        line-height: 28px;
      }

      hr {
        margin: 18px 0;
        border: 0;
        border-top: 1px solid #EEE;
        border-bottom: 1px solid white;
      }
    </style>
  </head>

  <body>
    <h2>
    <img src="https://regmedia.co.uk/2015/02/02/vmware_cloud_logo.jpg" / ><br />
    <!-- img src="https://upload.wikimedia.org/wikipedia/commons/9/9a/Vmware.svg" --/><br />
      Welcome To The Session
    </h2>
    <h3>Solution Tips</h3>
    <hr/>
	<p>Developers want Infrastructure as Code</p>
	<p>Consumption model critical to product positioning</p>
	<p>vRA and VIO are better together</p>
  </body>
</html>

